@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
*,
*::after,
*::before {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.6;
  font-size: 16px;
  font-family: "Lato", sans-serif;
}

body {
  margin: 0;
  background-color: #231955;
}

a {
  text-decoration: none;
  color: white;
}

img {
  display: block;
}

.container {
  display: flex;
  align-items: center;
  width: 100%;
  text-align: center;
  flex-direction: column;
  background-color: #231955;
  color: #fff;
}
.container .policy {
  width: 50%;
  text-align: left;
}
.container .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px;
  border-bottom: 1px solid grey;
}
.container .header img {
  height: 100px;
  width: 100px;
}
.container .header .links a {
  margin-right: 20px;
  transition: 0.15s ease-in-out;
}
.container .header .links a:hover {
  opacity: 0.5;
}
.container .content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  padding: 10px;
}
.container .content .text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.container .content .text .app {
  height: 100px;
  transition: 0.15s ease-in-out;
}
.container .content .text .app:hover {
  opacity: 0.5;
}

@media (min-width: 800px) {
  .content .logo img {
    height: 400px;
    width: 400px;
  }
}
@media (max-width: 800px) {
  .content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .content .logo img {
    height: 300px;
    width: 300px;
  }
}
@media (max-width: 325px) {
  .header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .header .links {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}