@font-face {
  font-family: "Lato";
  font-weight: 400;
  src: url("../fonts/Lato.ttf") format("ttf");
  font-display: swap;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.6;
  font-size: 16px;
  font-family: "Lato", sans-serif;
}

body {
  margin: 0;
  background-color: #231955;
}

a {
  text-decoration: none;
  color: white;
}

img {
  display: block;
}

.container {
  display: flex;
  align-items: center;
  width: 100%;
  text-align: center;
  flex-direction: column;
  background-color: #231955;
  color: #fff;

  .policy {
    width: 50%;
    text-align: left;
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px;
    border-bottom: 1px solid grey;

    img {
      height: 100px;
      width: 100px;
    }

    .links {
      a {
        margin-right: 20px;
        transition: 0.15s ease-in-out;

        &:hover {
          opacity: 0.5;
        }
      }
    }
  }

  .content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    padding: 10px;

    .text {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      .links {
        display: flex;
        justify-content: center;
        align-items: center;

        img {
          height: 100px;
          transition: 0.15s ease-in-out;
          cursor: pointer;

          &:hover {
            opacity: 0.5;
          }
        }
      }
    }
  }
}

@media (min-width: 800px) {
  .content {
    .logo {
      img {
        height: 400px;
        width: 400px;
      }
    }
  }
}

@media (max-width: 800px) {
  .content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .logo {
      img {
        height: 300px;
        width: 300px;
      }
    }
  }
}

@media (max-width: 325px) {
  .header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .links {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
  }
}
